.day {
  cursor: pointer;
  width: 145px;
  height: 145px;
  position: relative;
  align-items: center;
  justify-content: center;
  user-select: none;
  border-radius: 50%;
  margin: 10px;
}

.day:hover {
  background-color: #f9f9f9;
}

.day-label {
  font-size: 54px;
  width: 100%;
  height: fit-content;
  display: inline-block;
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

.day-number {
  font-weight: bold;
}

.day-name {
  font-size: 16px;
}

.active,
.selected.active {
  background-color: #1a73e8 !important;
  color: #fff;
}
.selected {
  background-color: #d2e3fc !important;
  color: #000;
}

@media screen and (max-width: 570px) {
  .day {
    width: 80px;
    height: 80px;
  }

  .day-label {
    font-size: 34px;
  }

  .day-name {
    font-size: 10px;
  }

  .date-actions {
    bottom: -20px;
    right: -29px;
    width: 40px;
    height: 40px;
  }

  .date-actions svg {
    width: 22px;
  }
}

.appointment {
  width: 20px;
  height: 20px;
  background-color: #f00;
}
